[submodule "sample_log/themes/PaperMod"]
	path = sample_log/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = https://github.com/mbhusari/mbhusari.github.io.git
	branch = main
